node_modules/

dist/
build/

.env
.env.* # permite variações como .env.dev, .env.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

ormconfig.json
ormconfig.js
ormconfig.ts

.cache/
.temp/
.tmp/
coverage/
logs/

.vscode/

.DS_Store
Thumbs.db

docker-compose.override.yml
*.local.yml

.idea/
*.sw?
*.swo
*.swp

*.orig
